# __Filtering Rows and Columns__

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv(r'../Datasets/covid_19.csv')
df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

## Row filter mask

all rows where Lat is greater than 40

In [4]:
row_filter_mask = df['Lat'] > 40

In [8]:
df.loc[row_filter_mask,:]

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
7,NaN,Armenia,40.069100,45.038200,2020-01-22,0,0,0,0,Europe
16,NaN,Austria,47.516200,14.550100,2020-01-22,0,0,0,0,Europe
17,NaN,Azerbaijan,40.143100,47.576900,2020-01-22,0,0,0,0,Europe
...,...,...,...,...,...,...,...,...,...,...
49031,NaN,Uzbekistan,41.377491,64.585262,2020-07-27,21209,121,11674,9414,Europe
49048,Northwest Territories,Canada,64.825500,-124.845700,2020-07-27,5,0,0,5,Americas
49049,Yukon,Canada,64.282300,-135.000000,2020-07-27,14,0,0,14,Americas
49050,NaN,Kosovo,42.602636,20.902977,2020-07-27,7413,185,4027,3201,Europe
49060,Saint Pierre and Miquelon,France,46.885200,-56.315900,2020-07-27,4,0,1,3,Europe

We can use multiple row conditions with & and | and == operator

In [10]:
mask1 = df['Lat'] > 50
mask2 = df['Long'] < 0

In [11]:
df.loc[(mask1 | mask2), :]

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
5,NaN,Antigua and Barbuda,17.060800,-61.796400,2020-01-22,0,0,0,0,Americas
6,NaN,Argentina,-38.416100,-63.616700,2020-01-22,0,0,0,0,Americas
18,NaN,Bahamas,25.025885,-78.035889,2020-01-22,0,0,0,0,Americas
21,NaN,Barbados,13.193900,-59.543200,2020-01-22,0,0,0,0,Americas
22,NaN,Belarus,53.709800,27.953400,2020-01-22,0,0,0,0,Europe
...,...,...,...,...,...,...,...,...,...,...
49054,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,2020-07-27,99,2,36,61,Europe
49057,NaN,Sierra Leone,8.460555,-11.779889,2020-07-27,1783,66,1317,400,Africa
49059,Falkland Islands (Malvinas),United Kingdom,-51.796300,-59.523600,2020-07-27,13,0,13,0,Europe
49060,Saint Pierre and Miquelon,France,46.885200,-56.315900,2020-07-27,4,0,1,3,Europe
49062,NaN,Western Sahara,24.215500,-12.885800,2020-07-27,10,1,8,1,Africa

In [12]:
df.loc[(mask1 & mask2), :]

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
35,Alberta,Canada,53.9333,-116.5765,2020-01-22,0,0,0,0,Americas
36,British Columbia,Canada,53.7267,-127.6476,2020-01-22,0,0,0,0,Americas
37,Manitoba,Canada,53.7609,-98.8139,2020-01-22,0,0,0,0,Americas
39,Newfoundland and Labrador,Canada,53.1355,-57.6604,2020-01-22,0,0,0,0,Americas
41,Ontario,Canada,51.2538,-85.3232,2020-01-22,0,0,0,0,Americas
...,...,...,...,...,...,...,...,...,...,...
48940,NaN,Ireland,53.1424,-7.6921,2020-07-27,25892,1764,23364,764,Europe
49026,Isle of Man,United Kingdom,54.2361,-4.5481,2020-07-27,336,24,312,0,Europe
49028,NaN,United Kingdom,55.3781,-3.4360,2020-07-27,300111,45759,0,254352,Europe
49048,Northwest Territories,Canada,64.8255,-124.8457,2020-07-27,5,0,0,5,Americas
49049,Yukon,Canada,64.2823,-135.0000,2020-07-27,14,0,0,14,Americas

# __Column Filter mask__

In [14]:
col_mask = df.columns.str.startswith('L')
df.loc[:,col_mask]

             Lat       Long
0      33.939110  67.709953
1      41.153300  20.168300
2      28.033900   1.659600
3      42.506300   1.521800
4     -11.202700  17.873900
...          ...        ...
49063   0.186400   6.613100
49064  15.552727  48.516388
49065 -11.645500  43.333300
49066  38.861000  71.276100
49067 -29.610000  28.233600

[49068 rows x 2 columns]

In [16]:
col_mask #Always give boolean array

array([False, False,  True,  True, False, False, False, False, False,
       False])

# __Filtering Both Rows and Columns__

In [17]:
filtered_data = df.loc[df['Lat'] > 25, ['Lat', 'Long']]
print(filtered_data)

             Lat        Long
0      33.939110   67.709953
1      41.153300   20.168300
2      28.033900    1.659600
3      42.506300    1.521800
7      40.069100   45.038200
...          ...         ...
49048  64.825500 -124.845700
49049  64.282300 -135.000000
49050  42.602636   20.902977
49060  46.885200  -56.315900
49066  38.861000   71.276100

[23312 rows x 2 columns]