### Inspecting DataFrames and Useful Tips

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r'..\Datasets\Churn.csv')
df

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [4]:
df.shape #to find number of rows and columns

(3333, 21)

In [5]:
len(df) #No. of rows

3333

#### Seeing top n and botton n rows with head() and tail()

In [6]:
df.head(6)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False

In [7]:
df.tail(4)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

#### DataFrame info provides the datatypes #Non null records and memory usage

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

In [9]:
df.memory_usage(deep=True) #Give memory consumption of each column

Index                        132
state                     169983
account length             26664
area code                  26664
phone number              189981
international plan        170306
voice mail plan           170905
number vmail messages      26664
total day minutes          26664
total day calls            26664
total day charge           26664
total eve minutes          26664
total eve calls            26664
total eve charge           26664
total night minutes        26664
total night calls          26664
total night charge         26664
total intl minutes         26664
total intl calls           26664
total intl charge          26664
customer service calls     26664
churn                       3333
dtype: int64

In [10]:
df.dtypes #Gives the data types of each column

state                      object
account length              int64
area code                   int64
phone number               object
international plan         object
voice mail plan            object
number vmail messages       int64
total day minutes         float64
total day calls             int64
total day charge          float64
total eve minutes         float64
total eve calls             int64
total eve charge          float64
total night minutes       float64
total night calls           int64
total night charge        float64
total intl minutes        float64
total intl calls            int64
total intl charge         float64
customer service calls      int64
churn                        bool
dtype: object

#### We can convert Any data type to any

##### Changing boolean to int  for column Churn

In [11]:
df['churn'] = df['churn'].astype('int')

In [12]:
df.dtypes

state                      object
account length              int64
area code                   int64
phone number               object
international plan         object
voice mail plan            object
number vmail messages       int64
total day minutes         float64
total day calls             int64
total day charge          float64
total eve minutes         float64
total eve calls             int64
total eve charge          float64
total night minutes       float64
total night calls           int64
total night charge        float64
total intl minutes        float64
total intl calls            int64
total intl charge         float64
customer service calls      int64
churn                       int64
dtype: object

In [13]:
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

## RENAMEING COLUMNS

In [14]:
df.columns

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

## Rename Columns

In [15]:
df.rename(columns={"account length": 'account_length'})

,state,account_length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,0
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

#### on doing this column will be unchanged so do inplace=True

In [16]:
df.columns

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

In [17]:
df.rename(columns={'account length': 'account_length'}) #inplace=True)

,state,account_length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,0
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

In [18]:
df.columns

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

#### 2.Rename All columns in one shot

In [19]:
df.rename(str.upper,axis='columns').head()

,STATE,ACCOUNT LENGTH,AREA CODE,PHONE NUMBER,INTERNATIONAL PLAN,VOICE MAIL PLAN,NUMBER VMAIL MESSAGES,TOTAL DAY MINUTES,TOTAL DAY CALLS,TOTAL DAY CHARGE,...,TOTAL EVE CALLS,TOTAL EVE CHARGE,TOTAL NIGHT MINUTES,TOTAL NIGHT CALLS,TOTAL NIGHT CHARGE,TOTAL INTL MINUTES,TOTAL INTL CALLS,TOTAL INTL CHARGE,CUSTOMER SERVICE CALLS,CHURN
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [20]:
df.columns

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

In [21]:
df.rename(lambda x : x.replace(' ',"_"),axis='columns').head()

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,customer_service_calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

### Challange

#### #1. Change all the column name to title case . That is "account length" becomes "Account Length"

In [22]:
df.rename(str.capitalize,axis='columns').head()

,State,Account length,Area code,Phone number,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [23]:
df.describe() #Gives all numeric data

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856,0.144914
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491,0.352067
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000,0.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000,0.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000,0.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,1.000000

In [24]:
## pandas-summary . a cool python package provides a more elaborate summary of your dataset.

In [25]:
!pip install pandas-summary

Requirement already satisfied: pandas-summary in c:\users\yuvra\anaconda3\lib\site-packages (0.2.0)
Requirement already satisfied: datatile in c:\users\yuvra\anaconda3\lib\site-packages (from pandas-summary) (1.0.3)
Requirement already satisfied: numpy in c:\users\yuvra\anaconda3\lib\site-packages (from pandas-summary) (1.26.4)
Requirement already satisfied: pandas in c:\users\yuvra\appdata\roaming\python\python312\site-packages (from pandas-summary) (2.2.3)
Requirement already satisfied: traceml<1.1 in c:\users\yuvra\anaconda3\lib\site-packages (from datatile->pandas-summary) (1.0.8)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yuvra\appdata\roaming\python\python312\site-packages (from pandas->pandas-summary) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\yuvra\appdata\roaming\python\python312\site-packages (from pandas->pandas-summary) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\yuvra\appdata\roaming\python\python312\site-packages (from pandas->pandas-summary) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\yuvra\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas->pandas-summary) (1.16.0)

In [26]:
print(df.dtypes)

state                      object
account length              int64
area code                   int64
phone number               object
international plan         object
voice mail plan            object
number vmail messages       int64
total day minutes         float64
total day calls             int64
total day charge          float64
total eve minutes         float64
total eve calls             int64
total eve charge          float64
total night minutes       float64
total night calls           int64
total night charge        float64
total intl minutes        float64
total intl calls            int64
total intl charge         float64
customer service calls      int64
churn                       int64
dtype: object

In [27]:
import pandas_summary as pds

In [28]:
# Drop non-numeric columns from the DataFrame
numeric_df = df.select_dtypes(include=['number'])

# Use pandas_summary with the numeric-only DataFrame
import pandas_summary as pds
dfs = pds.DataFrameSummary(numeric_df)

In [29]:
dfs.columns_stats

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
counts,3333,3333,3333,3333,3333,3333,3333,3333,3333,3333,3333,3333,3333,3333,3333,3333,3333
uniques,212,3,46,1667,119,1667,1611,123,1440,1591,120,933,162,21,162,10,2
missing,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,bool

In [30]:
print(dfs.summary())

             account length   area code number vmail messages  \
count                3333.0      3333.0                3333.0
mean             101.064806  437.182418               8.09901
std               39.822106    42.37129             13.688365
min                     1.0       408.0                   0.0
25%                    74.0       408.0                   0.0
50%                   101.0       415.0                   0.0
75%                   127.0       510.0                  20.0
max                   243.0       510.0                  51.0
counts                 3333        3333                  3333
uniques                 212           3                    46
missing                   0           0                     0
missing_perc             0%          0%                    0%
types               numeric     numeric               numeric

             total day minutes total day calls total day charge  \
count                   3333.0          3333.0           3333.0
mean                179.775098      100.435644        30.562307
std                  54.467389       20.069084         9.259435
min                        0.0             0.0              0.0
25%                      143.7            87.0            24.43
50%                      179.4           101.0             30.5
75%                      216.4           114.0            36.79
max                      350.8           165.0            59.64
counts                    3333            3333             3333
uniques                   1667             119             1667
missing                      0               0                0
missing_perc                0%              0%               0%
types                  numeric         numeric          numeric

             total eve minutes total eve calls total eve charge  \
count                   3333.0          3333.0           3333.0
mean                200.980348      100.114311         17.08354
std                  50.713844       19.922625         4.310668
min                        0.0             0.0              0.0
25%                      166.6            87.0            14.16
50%                      201.4           100.0            17.12
75%                      235.3           114.0             20.0
max                      363.7           170.0            30.91
counts                    3333            3333             3333
uniques                   1611             123             1440
missing                      0               0                0
missing_perc                0%              0%               0%
types                  numeric         numeric          numeric

             total night minutes total night calls total night charge  \
count                     3333.0            3333.0             3333.0
mean                  200.872037        100.107711           9.039325
std                    50.573847         19.568609           2.275873
min                         23.2              33.0               1.04
25%                        167.0              87.0               7.52
50%                        201.2             100.0               9.05
75%                        235.3             113.0              10.59
max                        395.0             175.0              17.77
counts                      3333              3333               3333
uniques                     1591               120                933
missing                        0                 0                  0
missing_perc                  0%                0%                 0%
types                    numeric           numeric            numeric

             total intl minutes total intl calls total intl charge  \
count                    3333.0           3333.0            3333.0
mean                  10.237294         4.479448          2.764581
std                     2.79184         2.461214          0.753773
min                         0.0              0.0               0.0
25%                         8.5              3.0               2.3
50%                        10.3              4.0              2.78
75%                        12.1              6.0              3.27
max                        20.0             20.0               5.4
counts                     3333             3333              3333
uniques                     162               21               162
missing                       0                0                 0
missing_perc                 0%               0%                0%
types                   numeric          numeric           numeric

             customer service calls     churn
count                        3333.0    3333.0
mean                       1.562856  0.144914
std                        1.315491  0.352067
min                             0.0       0.0
25%                             1.0       0.0
50%                             1.0       0.0
75%                             2.0       0.0
max                             9.0       1.0
counts                         3333      3333
uniques                          10         2
missing                           0         0
missing_perc                     0%        0%
types                       numeric      bool

# Essential Operation

#### Displayes all unique items

In [31]:
df['state'].unique()

array(['KS', 'OH', 'NJ', 'OK', 'AL', 'MA', 'MO', 'LA', 'WV', 'IN', 'RI',
       'IA', 'MT', 'NY', 'ID', 'VT', 'VA', 'TX', 'FL', 'CO', 'AZ', 'SC',
       'NE', 'WY', 'HI', 'IL', 'NH', 'GA', 'AK', 'MD', 'AR', 'WI', 'OR',
       'MI', 'DE', 'UT', 'CA', 'MN', 'SD', 'NC', 'WA', 'NM', 'NV', 'DC',
       'KY', 'ME', 'MS', 'TN', 'PA', 'CT', 'ND'], dtype=object)

### Displays total number of Unique items

In [32]:
df['state'].nunique()

51

#### Number of occurrences of each item

In [33]:
df['state'].value_counts()

state
WV    106
MN     84
NY     83
AL     80
OH     78
WI     78
OR     78
WY     77
VA     77
CT     74
ID     73
MI     73
VT     73
TX     72
UT     72
IN     71
MD     70
KS     70
NJ     68
NC     68
MT     68
WA     66
CO     66
NV     66
MS     65
MA     65
RI     65
AZ     64
MO     63
FL     63
NM     62
ME     62
ND     62
OK     61
NE     61
DE     61
SD     60
SC     60
KY     59
IL     58
NH     56
AR     55
DC     54
GA     54
HI     53
TN     53
AK     52
LA     51
PA     45
IA     44
CA     34
Name: count, dtype: int64

In [34]:
df['state'].value_counts(normalize=True) #Give portions of each

state
WV    0.031803
MN    0.025203
NY    0.024902
AL    0.024002
OH    0.023402
WI    0.023402
OR    0.023402
WY    0.023102
VA    0.023102
CT    0.022202
ID    0.021902
MI    0.021902
VT    0.021902
TX    0.021602
UT    0.021602
IN    0.021302
MD    0.021002
KS    0.021002
NJ    0.020402
NC    0.020402
MT    0.020402
WA    0.019802
CO    0.019802
NV    0.019802
MS    0.019502
MA    0.019502
RI    0.019502
AZ    0.019202
MO    0.018902
FL    0.018902
NM    0.018602
ME    0.018602
ND    0.018602
OK    0.018302
NE    0.018302
DE    0.018302
SD    0.018002
SC    0.018002
KY    0.017702
IL    0.017402
NH    0.016802
AR    0.016502
DC    0.016202
GA    0.016202
HI    0.015902
TN    0.015902
AK    0.015602
LA    0.015302
PA    0.013501
IA    0.013201
CA    0.010201
Name: proportion, dtype: float64

In [35]:
df['state'].value_counts(normalize=True).sum()

np.float64(1.0000000000000002)

#### Get n first largest rows order by a given column

In [36]:
df.nlargest(7,'account length') #Gives top 7 rows based on account length

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
817,UT,243,510,355-9360,no,no,0,95.5,92,16.24,...,63,13.91,264.2,118,11.89,6.6,6,1.78,2,0
1408,NM,232,408,386-9177,no,no,0,165.6,104,28.15,...,115,16.65,118.3,77,5.32,11.8,3,3.19,1,0
1551,MI,225,415,371-2500,no,no,0,165.4,106,28.12,...,109,23.26,210.0,93,9.45,8.7,3,2.35,0,1
1751,WY,225,415,374-1213,no,no,0,182.7,142,31.06,...,63,20.95,218.0,103,9.81,8.8,2,2.38,1,0
416,DE,224,510,361-6563,yes,no,0,171.5,99,29.16,...,103,13.60,212.4,102,9.56,5.0,2,1.35,1,1
1886,ID,224,510,360-8919,no,no,0,111.4,133,18.94,...,66,14.88,217.2,106,9.77,5.5,6,1.49,3,0
3216,SD,221,510,365-2192,no,yes,24,180.5,85,30.69,...,92,19.05,205.7,103,9.26,2.4,3,0.65,0,0

### Dropping a column

#### to reflect dropping in actual Dataframe use inplace=True

In [37]:
df.drop('account length', axis=1)

,state,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,415,382-4657,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,415,371-7191,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,415,358-1921,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,408,375-9999,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,415,330-6626,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,415,414-4276,no,yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,415,370-3271,no,no,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,510,328-8230,no,no,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3331,CT,510,364-6381,yes,no,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,0
3332,TN,415,400-4344,no,yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

In [38]:
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [39]:
df.drop(index=[0,1,2])

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,0
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,0
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,0
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

In [40]:
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [41]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,3323,3324,3325,3326,3327,3328,3329,3330,3331,3332
state,KS,OH,NJ,OH,OK,AL,MA,MO,LA,WV,...,IN,WV,OH,OH,SC,AZ,WV,RI,CT,TN
account length,128,107,137,84,75,118,121,147,117,141,...,117,159,78,96,79,192,68,28,184,74
area code,415,415,415,408,415,510,510,415,408,415,...,415,415,408,415,415,415,415,510,510,415
phone number,382-4657,371-7191,358-1921,375-9999,330-6626,391-8027,355-9993,329-9001,335-4719,330-8173,...,362-5899,377-1164,368-8555,347-6812,348-3830,414-4276,370-3271,328-8230,364-6381,400-4344
international plan,no,no,no,yes,yes,yes,no,yes,no,yes,...,no,no,no,no,no,no,no,no,yes,no
voice mail plan,yes,yes,no,no,no,no,yes,no,no,yes,...,no,no,no,no,no,yes,no,no,no,yes
number vmail messages,25,26,0,0,0,0,24,0,0,37,...,0,0,0,0,0,36,0,0,0,25
total day minutes,265.1,161.6,243.4,299.4,166.7,223.4,218.2,157.0,184.5,258.6,...,118.4,169.8,193.4,106.6,134.7,156.2,231.1,180.8,213.8,234.4
total day calls,110,123,114,71,113,98,88,79,97,84,...,126,114,99,128,98,77,57,109,105,113
total day charge,45.07,27.47,41.38,50.9,28.34,37.98,37.09,26.69,31.37,43.96,...,20.13,28.87,32.88,18.12,22.9,26.55,39.29,30.74,36.35,39.85
total eve minutes,197.4,195.5,121.2,61.9,148.3,220.6,348.5,103.1,351.6,222.0,...,249.3,197.7,116.9,284.8,189.7,215.5,153.4,288.8,159.6,265.9
total eve calls,99,103,110,88,122,101,108,94,80,111,...,97,105,88,87,68,126,55,58,84,82
total eve charge,16.78,16.62,10.3,5.26,12.61,18.75,29.62,8.76,29.89,18.87,...,21.19,16.8,9.94,24.21,16.12,18.32,13.04,24.55,13.57,22.6
total night minutes,244.7,254.4,162.6,196.9,186.9,203.9,212.6,211.8,215.8,326.4,...,227.0,193.7,243.3,178.9,221.4,279.1,191.3,191.9,139.2,241.4
total night calls,91,103,104,89,121,118,118,96,90,97,...,56,82,109,92,128,83,123,91,137,77
total night charge,11.01,11.45,7.32,8.86,8.41,9.18,9.57,9.53,9.71,14.69,...,10.22,8.72,10.95,8.05,9.96,12.56,8.61,8.64,6.26,10.86
total intl minutes,10.0,13.7,12.2,6.6,10.1,6.3,7.5,7.1,8.7,11.2,...,13.6,11.6,9.3,14.9,11.8,9.9,9.6,14.1,5.0,13.7
total intl calls,3,3,5,7,3,6,7,6,4,5,...,3,4,4,7,5,6,4,6,10,4
total intl charge,2.7,3.7,3.29,1.78,2.73,1.7,2.03,1.92,2.35,3.02,...,3.67,3.13,2.51,4.02,3.19,2.67,2.59,3.81,1.35,3.7
customer service calls,1,1,0,2,3,0,3,0,1,0,...,5,1,2,1,2,2,3,2,2,0
churn,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [42]:
df.T.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21 entries, state to churn
Columns: 3333 entries, 0 to 3332
dtypes: object(3333)
memory usage: 547.5+ KB