# __4.Query and Oval__

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv(r'..\\Datasets\\Churn.csv')
df

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

## Query

__One Condition__

In [4]:
df.columns

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

In [5]:
df.rename(columns={' state ': 'state'}, inplace=True)

In [6]:
df['state'] = df['state'].astype(str)

In [7]:
df.query("`state` in ('KS', 'OH')").head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
152,OH,65,408,336-7600,no,no,0,187.9,116,31.94,...,117,13.40,227.3,86,10.23,7.5,6,2.03,1,False
156,OH,83,415,370-9116,no,no,0,337.4,120,57.36,...,116,19.33,153.9,114,6.93,15.8,7,4.27,0,True

In [8]:
df.query("state in ('KS', 'OH') and `voice mail plan` == 'yes' ").head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
231,OH,63,415,410-3719,yes,yes,36,199.0,110,33.83,...,111,24.76,197.6,92,8.89,11.0,6,2.97,1,False
362,OH,39,415,421-9752,no,yes,36,141.7,121,24.09,...,113,19.75,222.1,131,9.99,12.0,5,3.24,1,False
451,KS,86,408,339-2616,no,yes,23,225.5,107,38.34,...,105,20.94,245.7,81,11.06,9.8,2,2.65,0,False

__Sort by multiple columns__

In [ ]:
df.sort_values(by=['state', 'total day calls'], ascending=False).loc[:, ['state', 'total day calls']]

Sort one column by ascending and other by descending.

Ex: Sort `state` in alphabetical order but `total day calls` in descending order.

In [ ]:
df.sort_values(by=['state', 'total day calls'], ascending=[True, False]).loc[:, ['state', 'total day calls']]

     state  total day calls
950     AK              129
36      AK              128
3088    AK              127
718     AK              124
2071    AK              121
...    ...              ...
2819    WY               68
3172    WY               67
653     WY               65
609     WY               55
1422    WY               45

[3333 rows x 2 columns]

__Query using another Python variable__

You can refer to another python variable (`var_name`) in a query using `@var_name`.

In [9]:
min_day_calls = 120
df.query("state in ('KS', 'OH') and `voice mail plan` == 'yes' and `total day calls` > @min_day_calls").head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
362,OH,39,415,421-9752,no,yes,36,141.7,121,24.09,...,113,19.75,222.1,131,9.99,12.0,5,3.24,1,False
866,OH,119,415,385-7922,no,yes,27,220.1,128,37.42,...,133,22.80,146.5,80,6.59,11.1,3,3.00,0,False
1066,KS,117,510,385-3263,no,yes,25,216.0,140,36.72,...,69,19.05,267.9,112,12.06,11.8,4,3.19,0,False
1852,KS,101,510,413-1061,no,yes,25,144.1,144,24.50,...,105,14.25,240.0,107,10.80,14.5,3,3.92,1,False

In [11]:
%%time
min_day_calls = 120
df.query("state in ('KS', 'OH') and `voice mail plan` == 'yes' and `total day calls` > @min_day_calls").head()

CPU times: total: 0 ns
Wall time: 5.34 ms

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
362,OH,39,415,421-9752,no,yes,36,141.7,121,24.09,...,113,19.75,222.1,131,9.99,12.0,5,3.24,1,False
866,OH,119,415,385-7922,no,yes,27,220.1,128,37.42,...,133,22.80,146.5,80,6.59,11.1,3,3.00,0,False
1066,KS,117,510,385-3263,no,yes,25,216.0,140,36.72,...,69,19.05,267.9,112,12.06,11.8,4,3.19,0,False
1852,KS,101,510,413-1061,no,yes,25,144.1,144,24.50,...,105,14.25,240.0,107,10.80,14.5,3,3.92,1,False

The best part is, filtering using queries can be faster than with `.loc` based calls for large dataframes.

### Eval

__Using df.eval__

You need to pass an expression to evaluate as a string to the `df.eval()` method.

In [12]:
%%time
mask = df.eval("state in ('KS', 'OH') and `voice mail plan` == 'yes' and `total day calls` > @min_day_calls")
mask

CPU times: total: 0 ns
Wall time: 4.49 ms

0       False
1        True
2       False
3       False
4       False
        ...
3328    False
3329    False
3330    False
3331    False
3332    False
Length: 3333, dtype: bool

In [13]:
df.loc[mask , :].head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
362,OH,39,415,421-9752,no,yes,36,141.7,121,24.09,...,113,19.75,222.1,131,9.99,12.0,5,3.24,1,False
866,OH,119,415,385-7922,no,yes,27,220.1,128,37.42,...,133,22.80,146.5,80,6.59,11.1,3,3.00,0,False
1066,KS,117,510,385-3263,no,yes,25,216.0,140,36.72,...,69,19.05,267.9,112,12.06,11.8,4,3.19,0,False
1852,KS,101,510,413-1061,no,yes,25,144.1,144,24.50,...,105,14.25,240.0,107,10.80,14.5,3,3.92,1,False

__Creating a column with eval method__

In [14]:
df.eval('minutes_per_call = `total day minutes` / `total day calls`', inplace=True)

In [15]:
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn,minutes_per_call
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,16.78,244.7,91,11.01,10.0,3,2.70,1,False,2.410000
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,16.62,254.4,103,11.45,13.7,3,3.70,1,False,1.313821
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,10.30,162.6,104,7.32,12.2,5,3.29,0,False,2.135088
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,5.26,196.9,89,8.86,6.6,7,1.78,2,False,4.216901
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,12.61,186.9,121,8.41,10.1,3,2.73,3,False,1.475221

In [ ]:
df.eval('minutes_per_call = `total day minutes` / `total day calls`', inplace=True)

In [ ]:
df.eval('minutes_per_call = `total day minutes` / `total day calls`', inplace=True)

__Removing Duplicates__

Removing duplicate items based on one or more columns is another often used data cleaning step. For example, you migh want to keep the very first occurence of a particular value and drop everything afterwards.

When dropping duplicates, you may handle them in 3 ways usually:
1. Keep first occurrence only
2. Keep last occurrence only
3. Remove all if there's more than one occurrence.

In [16]:
import pandas as pd
df = pd.read_csv(r'..\\Datasets\\Churn.csv')

In [17]:
df

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [22]:
df.drop_duplicates('state',keep='first')
pd.set_option('display.max_rows', 10)

In [23]:
df.drop_duplicates('state',keep='first')

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,MS,120,408,355-6291,no,no,0,212.1,131,36.06,...,104,17.80,167.2,96,7.52,5.3,5,1.43,1,True
196,TN,78,415,332-6934,no,no,0,149.7,119,25.45,...,115,15.49,261.5,126,11.77,9.7,8,2.62,0,False
212,PA,82,415,333-5609,no,yes,24,155.2,131,26.38,...,106,20.78,122.4,68,5.51,10.7,3,2.89,1,False
290,CT,199,415,393-6733,no,yes,34,230.6,121,39.20,...,99,18.65,299.3,94,13.47,8.0,2,2.16,0,False
377,ND,79,408,363-3515,no,no,0,205.7,123,34.97,...,108,18.23,226.1,106,10.17,6.7,18,1.81,1,False

In [24]:
pd.reset_option('display.max_rows')

In [26]:
df.drop_duplicates(subset=['state','area code'],keep='first') #to have only last occurrence keep='last'

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,CT,84,510,351-1007,no,yes,42,165.3,97,28.10,...,118,19.00,260.8,72,11.74,7.6,7,2.05,3,False
710,TN,69,510,358-1912,no,no,0,195.3,70,33.20,...,108,18.42,259.9,119,11.70,12.5,4,3.38,3,False
760,NC,128,510,417-5067,no,no,0,187.3,84,31.84,...,95,23.02,206.4,68,9.29,10.1,5,2.73,1,False
777,ND,135,510,378-4013,yes,yes,24,127.7,54,21.71,...,105,18.28,234.3,84,10.54,5.8,4,1.57,2,False
814,WA,75,510,367-1424,no,yes,41,130.9,115,22.25,...,110,17.29,171.7,68,7.73,12.4,4,3.35,1,False

Duplicates on the entire dataframe. If two rows are exactly alike, drop_duplicates() with no subset argument will remove the entire row.

<div class="alert alert-info" style="background-color:red; color:white; padding:0px 10px; border-radius:5px;"><h2 style='margin:10px 5px'>6. Sorting</h2>
</div>

1. Sorting by single column
2. Sorting by multiple columns
3. Mix ascending and descending sort

In [27]:
import pandas as pd
df = pd.read_csv(r"../Datasets/Churn.csv")
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

__Ascending sort__

Ex: Get 5 customers who made the lowest number of total day calls.

In [28]:
df.sort_values(by='total day calls')

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
1345,SD,98,415,392-2555,no,no,0,0.0,0,0.00,...,130,13.57,167.1,88,7.52,6.8,1,1.84,4,True
1397,VT,101,510,413-7655,no,no,0,0.0,0,0.00,...,119,16.33,168.8,95,7.60,7.2,4,1.94,1,False
1144,NH,155,408,353-6300,no,no,0,216.7,30,36.84,...,125,12.27,135.3,106,6.09,10.8,1,2.92,2,False
1989,MT,124,415,420-5652,no,yes,30,144.5,35,24.57,...,101,22.30,226.5,82,10.19,12.0,7,3.24,2,False
692,NE,82,408,343-2741,no,no,0,185.8,36,31.59,...,134,23.50,192.1,104,8.64,5.7,7,1.54,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2392,WY,90,510,400-8069,no,no,0,125.4,158,21.32,...,83,22.87,238.6,103,10.74,11.0,7,2.97,1,False
1057,WV,86,415,332-2258,no,yes,38,123.0,158,20.91,...,119,11.38,138.2,103,6.22,13.3,4,3.59,1,False
1460,MT,80,415,361-8288,no,no,0,198.1,160,33.68,...,87,13.32,182.1,76,8.19,9.3,3,2.51,3,False
468,AZ,86,415,392-2381,no,yes,32,70.9,163,12.05,...,121,14.17,244.9,105,11.02,11.1,5,3.00,3,False
1121,MI,91,415,390-7930,no,no,0,154.4,165,26.25,...,121,14.31,239.9,81,10.80,11.7,4,3.16,5,True

__Descending sort__

Ex: Get 5 customers who made the highest number of day calls.

In [30]:
df.sort_values(by='total day calls', ascending=False)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
1121,MI,91,415,390-7930,no,no,0,154.4,165,26.25,...,121,14.31,239.9,81,10.80,11.7,4,3.16,5,True
468,AZ,86,415,392-2381,no,yes,32,70.9,163,12.05,...,121,14.17,244.9,105,11.02,11.1,5,3.00,3,False
1460,MT,80,415,361-8288,no,no,0,198.1,160,33.68,...,87,13.32,182.1,76,8.19,9.3,3,2.51,3,False
2392,WY,90,510,400-8069,no,no,0,125.4,158,21.32,...,83,22.87,238.6,103,10.74,11.0,7,2.97,1,False
315,MA,39,408,332-2462,no,no,0,60.4,158,10.27,...,120,26.03,123.9,46,5.58,12.4,3,3.35,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,NE,82,408,343-2741,no,no,0,185.8,36,31.59,...,134,23.50,192.1,104,8.64,5.7,7,1.54,4,False
1989,MT,124,415,420-5652,no,yes,30,144.5,35,24.57,...,101,22.30,226.5,82,10.19,12.0,7,3.24,2,False
1144,NH,155,408,353-6300,no,no,0,216.7,30,36.84,...,125,12.27,135.3,106,6.09,10.8,1,2.92,2,False
1345,SD,98,415,392-2555,no,no,0,0.0,0,0.00,...,130,13.57,167.1,88,7.52,6.8,1,1.84,4,True
1397,VT,101,510,413-7655,no,no,0,0.0,0,0.00,...,119,16.33,168.8,95,7.60,7.2,4,1.94,1,False

__Sort by multiple columns__

Ex: sort the customers who made the highest number of day calls by each state.

In [31]:
df.sort_values(by=['state', 'total day calls'], ascending=False).loc[:, ['state', 'total day calls']]

     state  total day calls
2392    WY              158
238     WY              148
1018    WY              148
1751    WY              142
49      WY              135
...    ...              ...
1024    AK               65
2571    AK               62
1884    AK               60
550     AK               58
1589    AK               55

[3333 rows x 2 columns]

Sort one column by ascending and other by descending.

Ex: Sort `state` in alphabetical order but `total day calls` in descending order.

In [33]:
df.sort_values(by=['state', 'total day calls'], ascending=[True, False]).loc[:, ['state', 'total day calls']]

     state  total day calls
950     AK              129
36      AK              128
3088    AK              127
718     AK              124
2071    AK              121
...    ...              ...
2819    WY               68
3172    WY               67
653     WY               65
609     WY               55
1422    WY               45

[3333 rows x 2 columns]